In [8]:
import pandas as pd
dict = {"keys":["K1","K2","K1","K2"],
        "Names":["John","Ben","David","Peter"],
        "Houses":["red","blue","green","red"],
       "Grades":["3rd","8th","9th","8th"]}
df=pd.DataFrame(dict)
print(df)

  keys  Names Houses Grades
0   K1   John    red    3rd
1   K2    Ben   blue    8th
2   K1  David  green    9th
3   K2  Peter    red    8th

In [10]:
print(df.pivot(index="keys", columns="Names", values=["Houses","Grades"]))

      Houses                   Grades
Names    Ben  David John Peter    Ben David John Peter
keys
K1       NaN  green  red   NaN    NaN   9th  3rd   NaN
K2      blue    NaN  NaN   red    8th   NaN  NaN   8th

In [11]:
dict = {"Names":["John","Ben","David","Peter"],
        "Houses":["red","blue","green","red"],
       "Grades":["3rd","8th","9th","8th"]}
df = pd.DataFrame(dict)
print(df)

   Names Houses Grades
0   John    red    3rd
1    Ben   blue    8th
2  David  green    9th
3  Peter    red    8th

In [13]:
print(pd.melt(df, id_vars=["Names"],value_vars=["Houses","Grades"]))

   Names variable  value
0   John   Houses    red
1    Ben   Houses   blue
2  David   Houses  green
3  Peter   Houses    red
4   John   Grades    3rd
5    Ben   Grades    8th
6  David   Grades    9th
7  Peter   Grades    8th

In [14]:
print(pd.melt(df, id_vars=["Names"],value_vars=["Houses","Grades"],var_name="Houses&Grades",value_name="values"))

   Names Houses&Grades values
0   John        Houses    red
1    Ben        Houses   blue
2  David        Houses  green
3  Peter        Houses    red
4   John        Grades    3rd
5    Ben        Grades    8th
6  David        Grades    9th
7  Peter        Grades    8th