In [8]:
import pandas as pd

data1 = {"Emp Id" :["E01","E02","E03","E04","E05","E06"],
        "Names":["Ram","Shyam","Rahul","Vishal","Ravi","John"],
        "Age" :[34,56,23,44,32,78]}
data2 = {"Emp Id" :["E01","E07","E03","E04","E08","E06"],
         "Salary":[45000,56000,34000,30000,50000,62000]}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
print(df1)
print()
print(df2)

  Emp Id   Names  Age
0    E01     Ram   34
1    E02   Shyam   56
2    E03   Rahul   23
3    E04  Vishal   44
4    E05    Ravi   32
5    E06    John   78

  Emp Id  Salary
0    E01   45000
1    E07   56000
2    E03   34000
3    E04   30000
4    E08   50000
5    E06   62000

In [6]:
print(pd.merge(df1,df2,on="Emp Id"))

  Emp Id   Names  Age  Salary
0    E01     Ram   34   45000
1    E02   Shyam   56   56000
2    E03   Rahul   23   34000
3    E04  Vishal   44   30000
4    E05    Ravi   32   50000
5    E06    John   78   62000

In [9]:
print(pd.merge(left=df1,right=df2,on="Emp Id" , how = "left"))

  Emp Id   Names  Age   Salary
0    E01     Ram   34  45000.0
1    E02   Shyam   56      NaN
2    E03   Rahul   23  34000.0
3    E04  Vishal   44  30000.0
4    E05    Ravi   32      NaN
5    E06    John   78  62000.0

In [10]:
print(pd.merge(left=df1,right=df2,on="Emp Id" , how = "right"))

  Emp Id   Names   Age  Salary
0    E01     Ram  34.0   45000
1    E07     NaN   NaN   56000
2    E03   Rahul  23.0   34000
3    E04  Vishal  44.0   30000
4    E08     NaN   NaN   50000
5    E06    John  78.0   62000

In [20]:
import pandas as pd

data1 = {"Emp Id" :["E01","E02","E03","E04","E05","E06"],
        "Names":["Ram","Shyam","Rahul","Vishal","Ravi","John"],
        "Age" :[34,56,23,44,32,78]}

data2 = {"Emp Id" :["E07","E08","E09","E10","E11","E12"],
        "Names":["Chotu","Motu","Payal","Chintu","Golu","Bunty"],
        "Age" :[34,56,23,44,32,78]}

df3 = pd.DataFrame(data1)
df4 = pd.DataFrame(data2)
print(df3)
print()
print(df4)

  Emp Id   Names  Age
0    E01     Ram   34
1    E02   Shyam   56
2    E03   Rahul   23
3    E04  Vishal   44
4    E05    Ravi   32
5    E06    John   78

  Emp Id   Names  Age
0    E07   Chotu   34
1    E08    Motu   56
2    E09   Payal   23
3    E10  Chintu   44
4    E11    Golu   32
5    E12   Bunty   78

In [21]:
print(pd.concat([df3,df4]))

  Emp Id   Names  Age
0    E01     Ram   34
1    E02   Shyam   56
2    E03   Rahul   23
3    E04  Vishal   44
4    E05    Ravi   32
5    E06    John   78
0    E07   Chotu   34
1    E08    Motu   56
2    E09   Payal   23
3    E10  Chintu   44
4    E11    Golu   32
5    E12   Bunty   78