In [3]:
import pandas as pd
data = pd.read_excel("Hotel_Bookings.xlsx")
print(data)

               hotel  is_canceled  arrival_date_year arrival_date_month  \
0       Resort Hotel            0               2015               July
1       Resort Hotel            0               2015               July
2       Resort Hotel            0               2015               July
3       Resort Hotel            0               2015               July
4       Resort Hotel            0               2015               July
...              ...          ...                ...                ...
119385    City Hotel            0               2017             August
119386    City Hotel            0               2017             August
119387    City Hotel            0               2017             August
119388    City Hotel            0               2017             August
119389    City Hotel            0               2017             August

        adults  children  babies country reserved_room_type  \
0            2       0.0       0     PRT                  C
1            2       0.0       0     PRT                  C
2            1       0.0       0     GBR                  A
3            1       0.0       0     GBR                  A
4            2       0.0       0     GBR                  A
...        ...       ...     ...     ...                ...
119385       2       0.0       0     BEL                  A
119386       3       0.0       0     FRA                  E
119387       2       0.0       0     DEU                  D
119388       2       0.0       0     GBR                  A
119389       2       0.0       0     DEU                  A

       assigned_room_type reservation_status reservation_status_date  \
0                       C          Check-Out              2015-07-01
1                       C          Check-Out              2015-07-01
2                       C          Check-Out              2015-07-02
3                       A          Check-Out              2015-07-02
4                       A          Check-Out              2015-07-03
...                   ...                ...                     ...
119385                  A          Check-Out              2017-09-06
119386                  E          Check-Out              2017-09-07
119387                  D          Check-Out              2017-09-07
119388                  A          Check-Out              2017-09-07
119389                  A          Check-Out              2017-09-07

       room_status guest_type
0          Desired    Couples
1          Desired    Couples
2        Undesired     Single
3          Desired     Single
4          Desired    Couples
...            ...        ...
119385     Desired    Couples
119386     Desired     Family
119387     Desired    Couples
119388     Desired    Couples
119389     Desired    Couples

[119390 rows x 14 columns]

In [10]:
data.loc[(data["room_status"] == "Desired"),"Get_D_room"] = "full-fill"
data.loc[(data["room_status"] == "UnDesired"),"Get_D_room"] = "no-full-fill"
print(data.head(10))

          hotel  is_canceled  arrival_date_year arrival_date_month  adults  \
0  Resort Hotel            0               2015               July       2
1  Resort Hotel            0               2015               July       2
2  Resort Hotel            0               2015               July       1
3  Resort Hotel            0               2015               July       1
4  Resort Hotel            0               2015               July       2
5  Resort Hotel            0               2015               July       2
6  Resort Hotel            0               2015               July       2
7  Resort Hotel            0               2015               July       2
8  Resort Hotel            1               2015               July       2
9  Resort Hotel            1               2015               July       2

   children  babies country reserved_room_type assigned_room_type  \
0       0.0       0     PRT                  C                  C
1       0.0       0     PRT                  C                  C
2       0.0       0     GBR                  A                  C
3       0.0       0     GBR                  A                  A
4       0.0       0     GBR                  A                  A
5       0.0       0     GBR                  A                  A
6       0.0       0     PRT                  C                  C
7       0.0       0     PRT                  C                  C
8       0.0       0     PRT                  A                  A
9       0.0       0     PRT                  D                  D

  reservation_status reservation_status_date room_status guest_type Get_D_room
0          Check-Out              2015-07-01     Desired    Couples  full-fill
1          Check-Out              2015-07-01     Desired    Couples  full-fill
2          Check-Out              2015-07-02   Undesired     Single        NaN
3          Check-Out              2015-07-02     Desired     Single  full-fill
4          Check-Out              2015-07-03     Desired    Couples  full-fill
5          Check-Out              2015-07-03     Desired    Couples  full-fill
6          Check-Out              2015-07-03     Desired    Couples  full-fill
7          Check-Out              2015-07-03     Desired    Couples  full-fill
8           Canceled              2015-05-06     Desired    Couples  full-fill
9           Canceled              2015-04-22     Desired    Couples  full-fill

In [11]:
data = pd.read_excel("Company.xlsx")
print(data)

    EEID first-name last-name gender    salary
0  EMP01     ayushi    sharma      F  250000.0
1  EMP02      rohit      sahu      M       NaN
2  EMP03   pranjali  banerjee    NaN   27000.0
3  EMP01     ayushi    sharma      F   20000.0
4  EMP05        NaN     patel      M       NaN
5  EMP06      rohit     nayak      M   25000.0

In [15]:
data["Full Name"] = data["first-name"].str.capitalize()+" "+data["last-name"].str.capitalize()
print(data)

    EEID first-name last-name gender    salary          Full Name
0  EMP01     ayushi    sharma      F  250000.0      Ayushi Sharma
1  EMP02      rohit      sahu      M       NaN         Rohit Sahu
2  EMP03   pranjali  banerjee    NaN   27000.0  Pranjali Banerjee
3  EMP01     ayushi    sharma      F   20000.0      Ayushi Sharma
4  EMP05        NaN     patel      M       NaN                NaN
5  EMP06      rohit     nayak      M   25000.0        Rohit Nayak

In [18]:
import pandas as pd
data = pd.read_excel("Company.xlsx")
print(data)

    EEID first-name last-name gender  salary
0  EMP01     ayushi    sharma      F   25000
1  EMP02      rohit      sahu      M   25000
2  EMP03   pranjali  banerjee    NaN   27000
3  EMP01     ayushi    sharma      F   20000
4  EMP05        NaN     patel      M   20000
5  EMP06      rohit     nayak      M   25000

In [19]:
data["Bonus"] =(data["salary"]/100)*20
print(data)

    EEID first-name last-name gender  salary   Bonus
0  EMP01     ayushi    sharma      F   25000  5000.0
1  EMP02      rohit      sahu      M   25000  5000.0
2  EMP03   pranjali  banerjee    NaN   27000  5400.0
3  EMP01     ayushi    sharma      F   20000  4000.0
4  EMP05        NaN     patel      M   20000  4000.0
5  EMP06      rohit     nayak      M   25000  5000.0

In [20]:
data1 = {"Months":['January','February','March','April']}
a =pd.DataFrame(data1)
print(a)

     Months
0   January
1  February
2     March
3     April

In [22]:
def extract(value):
    return value[0:3]
a["Short_months"]= a["Months"].map(extract)
print(a)

     Months Short_months
0   January          Jan
1  February          Feb
2     March          Mar
3     April          Apr