In [2]:
import pandas as pd

data = {"Name":["John","Peter","Lisa"],
        "Age":[25,28,31],
        "Salary":[300000,45000,25000]}
df = pd.DataFrame(data)
print(df)

    Name  Age  Salary
0   John   25  300000
1  Peter   28   45000
2   Lisa   31   25000

In [4]:
data = pd.read_csv("hotel_bookings.csv")
print(data)

               hotel  is_canceled  lead_time  arrival_date_year  \
0       Resort Hotel            0        342               2015
1       Resort Hotel            0        737               2015
2       Resort Hotel            0          7               2015
3       Resort Hotel            0         13               2015
4       Resort Hotel            0         14               2015
...              ...          ...        ...                ...
119385    City Hotel            0         23               2017
119386    City Hotel            0        102               2017
119387    City Hotel            0         34               2017
119388    City Hotel            0        109               2017
119389    City Hotel            0        205               2017

       arrival_date_month  arrival_date_week_number  \
0                    July                        27
1                    July                        27
2                    July                        27
3                    July                        27
4                    July                        27
...                   ...                       ...
119385             August                        35
119386             August                        35
119387             August                        35
119388             August                        35
119389             August                        35

        arrival_date_day_of_month  stays_in_weekend_nights  \
0                               1                        0
1                               1                        0
2                               1                        0
3                               1                        0
4                               1                        0
...                           ...                      ...
119385                         30                        2
119386                         31                        2
119387                         31                        2
119388                         31                        2
119389                         29                        2

        stays_in_week_nights  adults  ...  deposit_type  agent company  \
0                          0       2  ...    No Deposit    NaN     NaN
1                          0       2  ...    No Deposit    NaN     NaN
2                          1       1  ...    No Deposit    NaN     NaN
3                          1       1  ...    No Deposit  304.0     NaN
4                          2       2  ...    No Deposit  240.0     NaN
...                      ...     ...  ...           ...    ...     ...
119385                     5       2  ...    No Deposit  394.0     NaN
119386                     5       3  ...    No Deposit    9.0     NaN
119387                     5       2  ...    No Deposit    9.0     NaN
119388                     5       2  ...    No Deposit   89.0     NaN
119389                     7       2  ...    No Deposit    9.0     NaN

       days_in_waiting_list customer_type     adr  \
0                         0     Transient    0.00
1                         0     Transient    0.00
2                         0     Transient   75.00
3                         0     Transient   75.00
4                         0     Transient   98.00
...                     ...           ...     ...
119385                    0     Transient   96.14
119386                    0     Transient  225.43
119387                    0     Transient  157.71
119388                    0     Transient  104.40
119389                    0     Transient  151.20

        required_car_parking_spaces  total_of_special_requests  \
0                                 0                          0
1                                 0                          0
2                                 0                          0
3                                 0                          0
4                                 0                          1
...                             ...                        ...
119385                            0                          0
119386                            0                          2
119387                            0                          4
119388                            0                          0
119389                            0                          2

        reservation_status reservation_status_date
0                Check-Out              2015-07-01
1                Check-Out              2015-07-01
2                Check-Out              2015-07-02
3                Check-Out              2015-07-02
4                Check-Out              2015-07-03
...                    ...                     ...
119385           Check-Out              2017-09-06
119386           Check-Out              2017-09-07
119387           Check-Out              2017-09-07
119388           Check-Out              2017-09-07
119389           Check-Out              2017-09-07

[119390 rows x 32 columns]

In [5]:
import pandas as pd
data = pd.read_excel("Hotel_Bookings.xlsx")
print(data)

               hotel  is_canceled  arrival_date_year arrival_date_month  \
0       Resort Hotel            0               2015               July
1       Resort Hotel            0               2015               July
2       Resort Hotel            0               2015               July
3       Resort Hotel            0               2015               July
4       Resort Hotel            0               2015               July
...              ...          ...                ...                ...
119385    City Hotel            0               2017             August
119386    City Hotel            0               2017             August
119387    City Hotel            0               2017             August
119388    City Hotel            0               2017             August
119389    City Hotel            0               2017             August

        adults  children  babies country reserved_room_type  \
0            2       0.0       0     PRT                  C
1            2       0.0       0     PRT                  C
2            1       0.0       0     GBR                  A
3            1       0.0       0     GBR                  A
4            2       0.0       0     GBR                  A
...        ...       ...     ...     ...                ...
119385       2       0.0       0     BEL                  A
119386       3       0.0       0     FRA                  E
119387       2       0.0       0     DEU                  D
119388       2       0.0       0     GBR                  A
119389       2       0.0       0     DEU                  A

       assigned_room_type reservation_status reservation_status_date  \
0                       C          Check-Out              2015-07-01
1                       C          Check-Out              2015-07-01
2                       C          Check-Out              2015-07-02
3                       A          Check-Out              2015-07-02
4                       A          Check-Out              2015-07-03
...                   ...                ...                     ...
119385                  A          Check-Out              2017-09-06
119386                  E          Check-Out              2017-09-07
119387                  D          Check-Out              2017-09-07
119388                  A          Check-Out              2017-09-07
119389                  A          Check-Out              2017-09-07

       room_status guest_type
0          Desired    Couples
1          Desired    Couples
2        Undesired     Single
3          Desired     Single
4          Desired    Couples
...            ...        ...
119385     Desired    Couples
119386     Desired     Family
119387     Desired    Couples
119388     Desired    Couples
119389     Desired    Couples

[119390 rows x 14 columns]