In [3]:
import pandas as pd

data = pd.read_excel("Company.xlsx")
print(data)

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN

In [4]:
print(data.isnull())

    EEID   Name  gender  salary
0  False  False   False    True
1  False  False   False   False
2  False  False    True   False
3  False  False   False   False
4  False   True   False   False
5  False  False   False    True

In [5]:
print(data.isnull().sum())

EEID      0
Name      1
gender    1
salary    2
dtype: int64

In [6]:
print(data.dropna())

    EEID    Name gender   salary
1  EMP02   rohit      M  25000.0
3  EMP01  ayushi      F  20000.0

In [7]:
print(data)

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN

In [9]:
import numpy as np
print(data.replace(np.nan,30000))

    EEID      Name gender   salary
0  EMP01    ayushi      F  30000.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali  30000  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05     30000      M  25000.0
5  EMP06     rohit      M  30000.0

In [12]:
data["salary"] = data["salary"].replace(np.nan,30000)
print(data)
print(data["salary"].mean())

    EEID      Name gender   salary
0  EMP01    ayushi      F  30000.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M  30000.0
26166.666666666668

In [13]:
import pandas as pd

data = pd.read_excel("Company.xlsx")
print(data)

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN

In [14]:
print(data["salary"].mean())

24250.0

In [15]:
data["salary"] = data["salary"].replace(np.nan,24250)
print(data)

    EEID      Name gender   salary
0  EMP01    ayushi      F  24250.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M  24250.0

In [16]:
print(data["salary"].mean())

24250.0

In [17]:
import pandas as pd

data = pd.read_excel("Company.xlsx")
print(data)

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN

In [18]:
print(data.fillna(method = "bfill"))

    EEID      Name gender   salary
0  EMP01    ayushi      F  25000.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali      F  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05     rohit      M  25000.0
5  EMP06     rohit      M      NaN

C:\Users\arati\AppData\Local\Temp\ipykernel_24012\2754045057.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(data.fillna(method = "bfill"))

In [19]:
print(data.fillna(method = "ffill"))

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali      M  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05    ayushi      M  25000.0
5  EMP06     rohit      M  25000.0

C:\Users\arati\AppData\Local\Temp\ipykernel_24012\1391920301.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(data.fillna(method = "ffill"))

In [20]:
import pandas as pd

data = pd.read_excel("Company.xlsx")
print(data)

    EEID      Name gender    salary
0  EMP01    ayushi      F  250000.0
1  EMP02     rohit      M       NaN
2  EMP03  pranjali    NaN   27000.0
3  EMP01    ayushi      F   20000.0
4  EMP05       NaN      M       NaN
5  EMP06     rohit      M   25000.0

In [23]:
print(data.fillna("hi"))

    EEID      Name gender    salary
0  EMP01    ayushi      F  250000.0
1  EMP02     rohit      M        hi
2  EMP03  pranjali     hi   27000.0
3  EMP01    ayushi      F   20000.0
4  EMP05        hi      M        hi
5  EMP06     rohit      M   25000.0