In [3]:
import pandas as pd
data = pd.read_excel("Hotel_Bookings.xlsx")
print(data)

               hotel  is_canceled  arrival_date_year arrival_date_month  \
0       Resort Hotel            0               2015               July
1       Resort Hotel            0               2015               July
2       Resort Hotel            0               2015               July
3       Resort Hotel            0               2015               July
4       Resort Hotel            0               2015               July
...              ...          ...                ...                ...
119385    City Hotel            0               2017             August
119386    City Hotel            0               2017             August
119387    City Hotel            0               2017             August
119388    City Hotel            0               2017             August
119389    City Hotel            0               2017             August

        adults  children  babies country reserved_room_type  \
0            2       0.0       0     PRT                  C
1            2       0.0       0     PRT                  C
2            1       0.0       0     GBR                  A
3            1       0.0       0     GBR                  A
4            2       0.0       0     GBR                  A
...        ...       ...     ...     ...                ...
119385       2       0.0       0     BEL                  A
119386       3       0.0       0     FRA                  E
119387       2       0.0       0     DEU                  D
119388       2       0.0       0     GBR                  A
119389       2       0.0       0     DEU                  A

       assigned_room_type reservation_status reservation_status_date  \
0                       C          Check-Out              2015-07-01
1                       C          Check-Out              2015-07-01
2                       C          Check-Out              2015-07-02
3                       A          Check-Out              2015-07-02
4                       A          Check-Out              2015-07-03
...                   ...                ...                     ...
119385                  A          Check-Out              2017-09-06
119386                  E          Check-Out              2017-09-07
119387                  D          Check-Out              2017-09-07
119388                  A          Check-Out              2017-09-07
119389                  A          Check-Out              2017-09-07

       room_status guest_type
0          Desired    Couples
1          Desired    Couples
2        Undesired     Single
3          Desired     Single
4          Desired    Couples
...            ...        ...
119385     Desired    Couples
119386     Desired     Family
119387     Desired    Couples
119388     Desired    Couples
119389     Desired    Couples

[119390 rows x 14 columns]

In [4]:
print(data.head(10))

          hotel  is_canceled  arrival_date_year arrival_date_month  adults  \
0  Resort Hotel            0               2015               July       2
1  Resort Hotel            0               2015               July       2
2  Resort Hotel            0               2015               July       1
3  Resort Hotel            0               2015               July       1
4  Resort Hotel            0               2015               July       2
5  Resort Hotel            0               2015               July       2
6  Resort Hotel            0               2015               July       2
7  Resort Hotel            0               2015               July       2
8  Resort Hotel            1               2015               July       2
9  Resort Hotel            1               2015               July       2

   children  babies country reserved_room_type assigned_room_type  \
0       0.0       0     PRT                  C                  C
1       0.0       0     PRT                  C                  C
2       0.0       0     GBR                  A                  C
3       0.0       0     GBR                  A                  A
4       0.0       0     GBR                  A                  A
5       0.0       0     GBR                  A                  A
6       0.0       0     PRT                  C                  C
7       0.0       0     PRT                  C                  C
8       0.0       0     PRT                  A                  A
9       0.0       0     PRT                  D                  D

  reservation_status reservation_status_date room_status guest_type
0          Check-Out              2015-07-01     Desired    Couples
1          Check-Out              2015-07-01     Desired    Couples
2          Check-Out              2015-07-02   Undesired     Single
3          Check-Out              2015-07-02     Desired     Single
4          Check-Out              2015-07-03     Desired    Couples
5          Check-Out              2015-07-03     Desired    Couples
6          Check-Out              2015-07-03     Desired    Couples
7          Check-Out              2015-07-03     Desired    Couples
8           Canceled              2015-05-06     Desired    Couples
9           Canceled              2015-04-22     Desired    Couples

In [5]:
print(data.tail(10))

             hotel  is_canceled  arrival_date_year arrival_date_month  adults  \
119380  City Hotel            0               2017             August       2
119381  City Hotel            0               2017             August       2
119382  City Hotel            0               2017             August       3
119383  City Hotel            0               2017             August       2
119384  City Hotel            0               2017             August       2
119385  City Hotel            0               2017             August       2
119386  City Hotel            0               2017             August       3
119387  City Hotel            0               2017             August       2
119388  City Hotel            0               2017             August       2
119389  City Hotel            0               2017             August       2

        children  babies country reserved_room_type assigned_room_type  \
119380       0.0       0     DEU                  A                  A
119381       0.0       0     DEU                  A                  A
119382       0.0       0     JPN                  G                  G
119383       0.0       0     DEU                  A                  A
119384       0.0       0     BEL                  A                  A
119385       0.0       0     BEL                  A                  A
119386       0.0       0     FRA                  E                  E
119387       0.0       0     DEU                  D                  D
119388       0.0       0     GBR                  A                  A
119389       0.0       0     DEU                  A                  A

       reservation_status reservation_status_date room_status guest_type
119380          Check-Out              2017-09-04     Desired    Couples
119381          Check-Out              2017-09-05     Desired    Couples
119382          Check-Out              2017-09-05     Desired     Family
119383          Check-Out              2017-09-06     Desired    Couples
119384          Check-Out              2017-09-06     Desired    Couples
119385          Check-Out              2017-09-06     Desired    Couples
119386          Check-Out              2017-09-07     Desired     Family
119387          Check-Out              2017-09-07     Desired    Couples
119388          Check-Out              2017-09-07     Desired    Couples
119389          Check-Out              2017-09-07     Desired    Couples

In [6]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   hotel                    119390 non-null  object
 1   is_canceled              119390 non-null  int64
 2   arrival_date_year        119390 non-null  int64
 3   arrival_date_month       119390 non-null  object
 4   adults                   119390 non-null  int64
 5   children                 119386 non-null  float64
 6   babies                   119390 non-null  int64
 7   country                  118902 non-null  object
 8   reserved_room_type       119390 non-null  object
 9   assigned_room_type       119390 non-null  object
 10  reservation_status       119390 non-null  object
 11  reservation_status_date  119390 non-null  datetime64[ns]
 12  room_status              119390 non-null  object
 13  guest_type               119390 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(4), object(8)
memory usage: 12.8+ MB
None

In [7]:
data.describe()

,is_canceled,arrival_date_year,adults,children,babies,reservation_status_date
count,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390
mean,0.370416,2016.156554,1.856403,0.103890,0.007949,2016-07-30 00:24:47.883407104
min,0.000000,2015.000000,0.000000,0.000000,0.000000,2014-10-17 00:00:00
25%,0.000000,2016.000000,2.000000,0.000000,0.000000,2016-02-01 00:00:00
50%,0.000000,2016.000000,2.000000,0.000000,0.000000,2016-08-07 00:00:00
75%,1.000000,2017.000000,2.000000,0.000000,0.000000,2017-02-08 00:00:00
max,1.000000,2017.000000,55.000000,10.000000,10.000000,2017-09-14 00:00:00
std,0.482918,0.707476,0.579261,0.398561,0.097436,NaN

In [8]:
print(data.isnull())

        hotel  is_canceled  arrival_date_year  arrival_date_month  adults  \
0       False        False              False               False   False
1       False        False              False               False   False
2       False        False              False               False   False
3       False        False              False               False   False
4       False        False              False               False   False
...       ...          ...                ...                 ...     ...
119385  False        False              False               False   False
119386  False        False              False               False   False
119387  False        False              False               False   False
119388  False        False              False               False   False
119389  False        False              False               False   False

        children  babies  country  reserved_room_type  assigned_room_type  \
0          False   False    False               False               False
1          False   False    False               False               False
2          False   False    False               False               False
3          False   False    False               False               False
4          False   False    False               False               False
...          ...     ...      ...                 ...                 ...
119385     False   False    False               False               False
119386     False   False    False               False               False
119387     False   False    False               False               False
119388     False   False    False               False               False
119389     False   False    False               False               False

        reservation_status  reservation_status_date  room_status  guest_type
0                    False                    False        False       False
1                    False                    False        False       False
2                    False                    False        False       False
3                    False                    False        False       False
4                    False                    False        False       False
...                    ...                      ...          ...         ...
119385               False                    False        False       False
119386               False                    False        False       False
119387               False                    False        False       False
119388               False                    False        False       False
119389               False                    False        False       False

[119390 rows x 14 columns]

In [9]:
print(data.isnull().sum())

hotel                        0
is_canceled                  0
arrival_date_year            0
arrival_date_month           0
adults                       0
children                     4
babies                       0
country                    488
reserved_room_type           0
assigned_room_type           0
reservation_status           0
reservation_status_date      0
room_status                  0
guest_type                   0
dtype: int64